body {
  background-image: linear-gradient(120deg, #6d7579 0%, #3f475e 100%);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

header {
  font-size: 30px;
  border-bottom: 3px solid var(--secondary-color);
  color: var(--primary-color);
  min-height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .h1 {
  display: flex;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-weight: 500;
  border-top: 3px solid var(--secondary-color);
  color: var(--primary-color);
}

form {
  min-height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: 1px solid var(--secondary-color);
  background: var(--third-color);
  border-radius: 5px;
}
form button {
  color: var(--primary-color);
  background: var(--third-color);
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: var(--primary-color);
  color: var(--third-color);
}

.content {
  min-height: 80vh;
  height: 100%;
}

.shopping-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shopping-list {
  min-width: 30%;
  list-style: none;
}

.shop {
  border-radius: 5px;
  margin: 0.5rem;
  background: var(--third-color);
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
  border: 1px solid var(--secondary-color);
}

.filter-shop {
  padding: 1.4rem;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
}

.shopping-input {
  color: black;
  caret-color: var(--fourth-color);
}

.shop li {
  flex: 2;
}

.input-quantity {
  display: flex;
  text-align: center;
  color: black;
  width: 55px;
  height: 40px;
  margin: 5px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
}
.input-quantity::placeholder {
  font-size: 12px;
  color: black;
}

.trash-btn,
.complete-btn {
  background: var(--primary-color);

  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;

  margin: 3px 3px;
}
.complete-btn {
  background: var(--fourth-color);
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.shop-item {
  padding: 0rem 0.5rem;
}

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  background-image: none;
}

/* Custom Select */
.select {
  margin: 3px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}
select {
  color: black;
  background: var(--third-color);
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 14px;
  right: 3px;
  margin: 3px;
  border-radius: 5px;
  padding: 5px;
  background: var(--primary-color);

  cursor: pointer;
  pointer-events: none;
  border: 1px solid var(--secondary-color);
}

.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.clock h3 {
  margin-bottom: 0;
  color: var(--secondary-color);
}

.clock-live {
  margin-left: 10px;
  color: var(--primary-color);
  font-size: large;
}

.info-drawer {
  margin: 10px;
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 5px;
  border: 2px solid var(--secondary-color);
}

.info-drawer:hover {
  background-color: var(--secondary-color);
}

.ant-drawer-title {
  color: var(--secondary-color);
  font-weight: bold;
}

.ant-drawer-body p {
  color: black;
}
