@import "~antd/dist/antd.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(160, 207, 30);
  --secondary-color: rgb(41, 1, 1);
  --third-color: rgb(226, 226, 221);
  --fourth-color: rgb(163, 161, 37);
}
